.activity-picked {
    position: fixed;
    overflow-y: scroll;
    z-index: 11;
    top: 96px;
    right: 0;
    bottom: 0;
    min-width: 460px;
    background-color: $bg-main;
    display: flex;
    flex-direction: column;
    gap: 33px;
    transform: translateX(100%);
    transition: all 0.5s;
    padding-bottom: 32px;

    &--show {
        transform: translateX(0%);
    }

    &__header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 16px;
        border-bottom: 1px solid $bg-middle-light-grey;
        position: relative;
    }

    &__header {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    &__back,
    &__calendar {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.5s;
        background-color: $bg-middle-light-grey;

        @media (hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }

        svg {
            min-width: 19px;
            min-height: 17px;
        }
    }

    &__btn {
        margin-right: 16px;
        margin-left: 16px;
    }

    &__middle-wrapper {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 0 16px;
    }

    &__middle-img {
        width: 48px;
        height: 48px;
    }

    &__middle-text {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin: 0;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 17px;
        padding: 24px 16px 16px 16px;
        @include block-decor;
        margin: 0 16px;
    }

    &__details-header {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    &__details-list {
        @include list-reset;
        display: flex;
        flex-direction: column;

    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 24px 0;

        &:not(:nth-last-child(-n+2)) {
            border-bottom: 1px solid $bg-middle-light-grey;
        }

        &:last-child {
            padding-top: 8px;
            padding-bottom: 0;
        }
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $font-color-secondary;
        cursor: pointer;
        font-size: 16px;
        line-height: 22px;
    }

    &__input {
        background-color: transparent;
        padding: 0;
        border: none;
        font-size: 16px;
        line-height: 22px;
        display: none;

    }

    &__comment {
        &::-webkit-input-placeholder {
            color: $font-color-secondary;
        }

        display: flex;
        border-radius: 32px;
        border: 1px solid $bg-light-grey;
        padding: 16px;
        color: $font-color-secondary;
    }
}


@media (max-width: 767px) {
    .activity-picked {
        min-width: 428px;
    }
}

@media (max-width: 428px) {
    .activity-picked {
        min-width: 100%;
    }
}