.calendar-modal {
    position: fixed;
    top: 165px;
    right: 15px;
    background-color: $bg-main;
    padding: 16px;
    z-index: 13;
    width: 428px;
    height: 394px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    gap: 15px;
    box-shadow: 0px 0px 30px 0px rgba(193, 193, 193, 0.40);
    transform: translateX(110%);
    transition: all 0.5s;

    &--show {
        transform: translateX(0%);
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__header-text {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;

    }

    &__month {
        display: flex;
        justify-content: space-between;
    }

    &__pick-month {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__month-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin: 0;
    }

    &__change-month {
        display: flex;
        align-items: center;
        gap: 19px;
    }

    &__days {
        display: flex;
        flex-direction: column;
    }

    &__weekday-name {
        color: $font-color-secondary;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        padding: 8px 8px 4px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__control {
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                .calendar-modal__control-icon {
                    fill-opacity: 1;
                }
            }
        }
    }

    &__control-icon {
        transition: all 0.5s;
    }

    &__days-list,
    &__weekday-list {
        @include list-reset;
        display: grid;
        grid-template-columns: repeat(7, 30px);
        align-items: center;
        justify-content: space-between;
    }

    &__day {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 13px;
        font-weight: 500;
        cursor: pointer;

        &--picked {
            background-color: $bg-primary;
            border-radius: 16px;
        }
    }
}


@media (max-width: 767px) {
    .calendar-modal {
        width: 396px;
    }
}

@media (max-width: 428px) {
    .calendar-modal {
        width: calc(100% - 32px);
    }
}