.coach {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 16px;
    @include block-decor;
    width: 33.33%;
    position: relative;

    &__prof,
    &__location,
    &__experience,
    &__name,
    &__paid,
    &__expires {
        margin: 0;
    }

    &__prof,
    &__location {
        margin-bottom: 4px;
        color: $font-color-tertiary;
        font-size: 12px;
    }

    &__name {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    &__paid,
    &__experience {
        margin-bottom: 2px;
        color: $font-color-secondary;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }

    &__experience {
        margin-bottom: 16px;
    }

    &__expires {
        font-weight: 500;
        color: $font-color-tertiary;
    }

    &__options {
        position: absolute;
        top: 16px;
        right: 4px;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    &__kinds-list {
        @include list-reset;
        display: flex;
        gap: 16px;
        overflow: ellipsis;
    }

    &__kinds-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__kinds-icon {
        width: 42px;
        height: 46px;
    }
}