.goals {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__header-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        gap: 10px;
    }

    &__header {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    &__view-all {
        color: $font-color-secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        transition: color 0.5s;

        &:hover {
            color: #505050;
        }
    }

    &__list {
        @include list-reset;
        display: flex;
        gap: 24px;
    }

    &__next-goal {
        @include block-decor;
        flex-grow: 1;
    }
}

@media (max-width: 767px) {
    .goals {

        &__next-goal {
            flex-grow: 0;
        }

        &__next-goal:nth-child(n+2) {
            display: none;
        }
    }
}