.mini-modal {
    width: 300px;
    height: 328px;
    position: fixed;
    padding: 16px 0;
    top: 35%;
    right: -380px;
    background-color: $bg-main;
    border-radius: 24px;
    box-shadow: 0px 0px 30px 0px rgba(193, 193, 193, 0.40);
    display: flex;
    flex-direction: column;
    gap: 9px;
    transition: all 0.5s;
    z-index: 12;

    &--show {
        right: 80px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
        padding: 0 16px;
    }

    &__header-text {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin: 0;
    }

    &__text {
        margin: 0;
    }

    &__pick {
        display: grid;
    }

    &__col-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    &__col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &__col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &__col {
        display: flex;
        gap: 11px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__value {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin: 0;
    }

    &__confirm {
        margin: 12px 16px 0 16px;
    }

    &__cancel {
        margin: 0 16px;
    }

}


@media (max-width: 767px) {
    .mini-modal {
        &--show {
            right: 60px;
        }
    }
}

@media (max-width: 418px) {
    .mini-modal {
        &--show {
            right: 50%;
            transform: translateX(50%);
        }
    }
}