@media (max-width: 480px) {
    .modal {
        &--resize {
            max-width: 89%;
            min-width: 89%;
        }

        &__calendar {
            &--resize {
                width: calc(90% - 32px);
            }
        }
    }
}