.page-header {
    position: fixed;
    width: 100vw;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    background-color: $bg-primary;
    padding: 18px 32px;

    &__left-side {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__burger,
    &__burger-mobile {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-main;
        border-radius: 50%;
        cursor: pointer;
        outline: 4px solid $border-color;
        @include hover-effect;
    }

    &__burger-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .page-header {
        // padding: 18px 16px;

        &__burger {
            display: none;
        }

        &__burger-mobile {
            display: flex;
        }

        &__left-side {
            gap: 16px;
        }
    }
}