.pick-activity-modal {
    position: absolute;
    z-index: 10;
    top: 96px;
    right: 0;
    bottom: 0;
    min-width: 460px;
    background-color: $bg-main;
    display: flex;
    flex-direction: column;
    gap: 33px;
    transform: translateX(100%);
    transition: all 0.5s;

    &--show {
        transform: translateX(0%);
    }

    &__header-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 16px;
        border-bottom: 1px solid $bg-middle-light-grey;
    }

    &__header {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-left: 124px;
    }

    &__list {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__continue {
        margin-right: 16px;
        margin-left: 16px;
    }

    &__close {
        background-color: $bg-middle-light-grey;
    }
}