.profile-devices {
  position: fixed;
  overflow-y: scroll;
  z-index: 11;
  top: 96px;
  right: 0;
  bottom: 0;
  min-width: 460px;
  max-width: 460px;
  background-color: $bg-main;
  display: flex;
  flex-direction: column;
  gap: 33px;
  transform: translateX(100%);
  transition: all 0.5s;
  padding-bottom: 32px;

  &--show {
    transform: translateX(0%);
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    border-bottom: 1px solid $bg-middle-light-grey;
    position: relative;
  }

  &__header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  &__text {
    padding: 0 16px;
    margin: 0;
  }

  &__back,
  &__add {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s;
    background-color: $bg-middle-light-grey;

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__list {
    @include list-reset;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -16px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  &__item-text {
    color: $font-color-secondary;
    font-size: 12px;
    line-height: 18px;
  }

  &__trigger-container {
    display: flex;
    align-items: center;
    width: 54px;
    height: 35px;
    background-color: rgba(80, 80, 80, 0.3);
    border-radius: 25px;
    transition: background-color 0.5s;
  }

  &__trigger {
    width: 29px;
    height: 29px;
    background-color: $bg-main;
    border-radius: 50%;
    transform: translateX(3px);
    transition: all 0.5s;
  }

  &__checkbox:not(:disabled):checked
    + label
    .profile-devices__trigger-container {
    background-color: #96c018;
  }

  &__checkbox:not(:disabled):checked + label .profile-devices__trigger {
    transform: translateX(22px);
  }
}

@media (max-width: 460px) {
  .profile-notifications {
    min-width: 100%;
  }
}
