.schedule {
    display: flex;
    flex-direction: column;
    @include block-decor;
    padding: 16px;
    gap: 12px;

    &__header-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__header {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    &__month {
        display: flex;
        gap: 12px;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    &__previous-month,
    &__next-month {
        cursor: pointer;
        margin-right: 5px;

        @media (hover: hover) {

            &:hover {
                .schedule__month-select-icon {
                    fill-opacity: 1;

                }
            }
        }
    }

    &__month-select-icon {
        transition: all 0.5s;
    }

    &__calendar {
        display: grid;
        grid-template-columns: repeat(7, minmax(50px, 1fr));
        grid-auto-flow: dense;
        grid-template-rows: repeat(5, 1fr);
        gap: 8px;
    }

    &__date-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-left: 8px;
        padding-right: 16px;
        margin-bottom: 4px;
    }

    &__day {
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        background-color: $bg-super-light-grey;
        padding: 4px 8px;
        gap: 4px;
        min-height: 114px;
        overflow: hidden;
        transition: background-color 0.3s;

        @media (hover: hover) {
            &:not(.schedule__previous-day):not(.schedule__next-month):hover {
                background-color: #f2f2f2;

                .schedule__add-activity {
                    display: flex;
                }
            }
        }
    }

    &__add {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
        border: none;
        border-radius: 24px;
        cursor: pointer;
        background-color: $bg-middle-light-grey;
    }

    &__date {
        color: $font-color-quaternary;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }

    &__weekday {
        display: none;
        color: var(--fonts-light-grey, rgba(80, 80, 80, 0.60));
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }

    &__activities-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__add-activity {
        display: none;
        padding: 13px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        background: #F8F8F8;
        cursor: pointer;
    }

    &__next-month {
        opacity: 0.4;
        cursor: default;
    }

    &__current-day {
        background-color: #EEFFF4;
    }

}

@media (min-width: 1200px) {
    .schedule {
        &__day {
            max-height: 130px;
        }

    }

}

@media (max-width: 1200px) {
    .schedule {
        &__day {
            max-height: 122px;
            padding: 8px 4px;
        }
    }
}

@media (max-width: 767px) {
    .schedule {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        transition: all 0.3s;

        &__day {
            overflow: visible;
            border-radius: 0;
            background-color: transparent;
            max-height: fit-content;
            flex-direction: row;
            gap: 16px;
            min-height: 0;
        }

        &__calendar {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        &__activity {
            min-height: fit-content;
            max-height: fit-content;
        }

        &__activities-wrapper {
            flex-grow: 1;
            gap: 16px;
        }

        &__weekday {
            display: flex;
        }

        &__date-wrapper {
            flex-direction: column;
            justify-content: flex-start;
            padding: 0;
        }

        &__date {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }

        &__add-activity {
            display: flex;
        }

    }
}