.services {
    display: flex;
    gap: 24px;
    align-items: flex-start;

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__header {
        margin: 0;
        color: $font-color-primary;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        padding-right: 22px;
    }

    &__text {
        margin: 0;
        color: $font-color-secondary;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }

    &__connect-watch,
    &__find-coach,
    &__coach-service {
        display: flex;
        justify-content: flex-start;
        padding: 16px;
        position: relative;
        width: 33.333%;
    }

    &__connect-watch {
        gap: 16px;
    }

    &__find-coach,
    &__coach-service {
        gap: 8px;
    }

    &__connect-watch {
        flex-direction: row;
        @include block-decor;
    }

    &__find-coach {
        @include block-decor;
    }

    &__find-coach,
    &__coach-service {
        flex-direction: column;
    }

    &__connect-watch-close,
    &__find-coach-close {
        @include close-decor;
    }

    &--disabled {
        background-color: $bg-super-light-grey;
        border-radius: 24px;
        transition: all 0.5s;

        @media (hover: hover) {
            &:hover {
                box-shadow: 0px 0px 30px 0px rgba(193, 193, 193, 0.40);
            }
        }
    }

    &__close-icon {
        transition: all 0.5s;
    }

}

@media (max-width: 991px) {
    .services {

        &__connect-watch,
        &__find-coach,
        &__coach-service {
            width: auto;
        }
    }

}

@media (max-width: 767px) {
    .services {
        flex-wrap: wrap;

        &__connect-watch,
        &__find-coach,
        &__coach-service {
            width: 48%;
        }
    }
}