.user-menu {
    @include list-reset;
    display: flex;
    align-items: center;
    gap: 16px;

    &__notify {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: $bg-main;
        border-radius: 50%;
        cursor: pointer;
        outline: 4px solid $border-color;
        @include hover-effect;
    }

    &__current-user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        cursor: pointer;
    }

    &__photo {
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        outline: 4px solid $border-color;
        margin-left: 16px;
    }

    &__person {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0;
    }
}